# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# .env files
.env

# Ignorar o conteúdo da pasta docs/
docs/

# Manter a pasta docs/ no repositório
!docs/.gitkeep

# IDEs
.vscode/
.idea/

